.form{
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 30, 31);

}
.title{
  border-bottom: 1px solid rgb(19, 23, 24);
  font-size: 24px;
  font-weight: 600;
  padding: 15px 25px;
  margin-bottom: 25px;

}
.text{
  padding: 15px 25px;
  min-height: 500px;
}
